[defaults]
callbacks_enabled=ansible.posix.timer, ansible.posix.profile_roles, ansible.posix.profile_tasks
deprecation_warnings=False

#callbacks_enabled=timer, profile_tasks
# roles_path=./roles:/runner/project/roles:/runner/project/playbooks/roles:/usr/share/ansible/roles:/etc/ansible/roles:/runner/project/playbooks
remote_tmp=/var/tmp/
interpreter_python = auto    #/usr/bin/python3


#remote_user = ansible
host_key_checking = False
ansible_python_interpreter= /usr/bin/python3

[inventory]
enable_plugins = kubevirt.core.kubevirt , auto, host_list, yaml, ini
inventory = inventory_kubevirt.yaml

[callback_profile_roles]
summary_only = true

[galaxy]
server_list = rh_certified, rh_validated, community

[galaxy_server.rh_certified]
url= https://console.redhat.com/api/automation-hub/content/published/
token= eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTAxOTAzNDksImp0aSI6Ijk5MmY1YjlkLTY5OTYtNGY0ZS04ZjhlLTE2MDkyZmNkODQyOSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NTg3NjIzNSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiZjJhNDU2MzAtZWE4My00MDRhLTg5N2ItN2Q5ZTk2MjM2NjliIiwic2lkIjoiZTkzNjM5NWMtNzQ5My00N2ZlLThmN2UtNzkzYWM0ODIzZjU0Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IG9mZmxpbmVfYWNjZXNzIn0.zA4BOZytS6KuqHWfApzut6pUxPXHn9o4MsSg__kqQUQhf7O7HFZaxHkLI2xgOLjOuanT1oFuR1x_DRdbk1pAxA
auth_url= https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.rh_validated]
url= https://console.redhat.com/api/automation-hub/content/validated/
token= eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTAxOTAzNDksImp0aSI6Ijk5MmY1YjlkLTY5OTYtNGY0ZS04ZjhlLTE2MDkyZmNkODQyOSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NTg3NjIzNSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiZjJhNDU2MzAtZWE4My00MDRhLTg5N2ItN2Q5ZTk2MjM2NjliIiwic2lkIjoiZTkzNjM5NWMtNzQ5My00N2ZlLThmN2UtNzkzYWM0ODIzZjU0Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IG9mZmxpbmVfYWNjZXNzIn0.zA4BOZytS6KuqHWfApzut6pUxPXHn9o4MsSg__kqQUQhf7O7HFZaxHkLI2xgOLjOuanT1oFuR1x_DRdbk1pAxA
auth_url= https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.community]
url= https://galaxy.ansible.com