[defaults]
callbacks_enabled=ansible.posix.timer, ansible.posix.profile_roles, ansible.posix.profile_tasks
deprecation_warnings=False
# private_key_file= /home/wayne/.ssh/ansible_id_rsa
private_key_file= /home/wayne/.ssh/ocp4

#callbacks_enabled=timer, profile_tasks
# roles_path=./roles:/runner/project/roles:/runner/project/playbooks/roles:/usr/share/ansible/roles:/etc/ansible/roles:/runner/project/playbooks
remote_tmp=/var/tmp/
interpreter_python = auto


#remote_user = ansible
host_key_checking = False
# ansible_python_interpreter= /usr/bin/python3

[inventory]
enable_plugins = kubevirt.core.kubevirt , auto, host_list, yaml, ini
inventory = inventory_kubevirt.yaml

[callback_profile_roles]
summary_only = true
